@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

.sidebar-icon {
  @apply flex justify-center items-center my-1 p-1.5 mt-1.5 bg-gray-900 rounded-3xl
  hover:rounded-2xl hover:bg-cyan-700 transition-all duration-300 ease-linear cursor-pointer
  shadow-2xl;

  min-width: 70px;
  min-height: 70px
}

.sidebar-tooltip {
  @apply absolute w-auto left-24 p-2 m-2 min-w-max rounded-md shadow-md text-white
   bg-primary text-xs font-bold transition-transform duration-150 scale-0 origin-left;
}

.scale-animation {
  transition: transform 20s ease-in;
  animation: posterScaleAnimation 120s infinite;
}

.poster-scale-animation {
  transition: transform 20s ease-in;
  animation: posterScaleAnimation 60s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform:scale(2) rotate(0deg);
  }
  50% {
    transform:scale(2.4) rotate(10deg);
  }
  100% {
    transform:scale(2) rotate(0deg);
  }
}

@keyframes posterScaleAnimation {
  0% {
    transform:scale(1.2) rotate(0deg);
  }
  50% {
    transform:scale(1.4) rotate(5deg);
  }
  100% {
    transform:scale(1.2) rotate(0deg);
  }
}